*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #cccccc;
}

.box
{
    background-color: white;
    width: 980px;
    margin: 10px auto;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 2px #888888;
}

.header
{
    width: 892px;
    height: 61px;
    border-bottom: solid 2px #938e8c;
    margin: 0 auto;
    font-family: sans-serif 黑体;
}

.header_name
{
    display:block;
    width: 100px;
    height: 21px;
    background-color: #d45d5c;
    color: #FFFFFF;
    font-size: 12px;
    padding: 40px 0 0 10px;
}

.header_date
{
    float: right;
    margin-top: -21px;
    font-size: 12px;
    color: #d45d5c;
}

.section
{
    width: 892px;
    margin: 30px auto;
    height: auto;
}

.big_img
{
    width: 641px;
    height: 301px;
    float: left;
    background: url("images/img_1.jpg");
    background-size: 641px 301px;
}

.blur_left
{
    float: left;
    width: 191px;
    height: 301px;
    background-color: rgba(65,140,89,0.5);
}

.blur_right
{
    float: right;
    width: 191px;
    height: 301px;
    background-color: rgba(204,118,128,0.5);
}

.text_right
{
    float: right;
    width: 203px;
    border-top: 2px solid #cc8091;
}

.text_right > p:nth-child(1), .text_right > p:nth-child(2)
{
    float: left;
    clear: left;
    font-size: 18px;
    line-height: 35px;
    border-bottom: 2px solid black;
    width: auto;
}

.text_right > p:nth-child(1):first-letter, .text_right > p:nth-child(2):first-letter
{
    font-size: 24px;
}

.text_right > p:nth-child(3)
{
    font-size: 12px;
    line-height: 12px;
    color: #676767;
    font-family: 楷体;
    font-style: italic;
    float: left;
    clear: left;
}

.text_right > p:nth-child(4)
{
    float: left;
    clear: left;
    font-size: 116px;
    color: #75b86b;
    font-family: 微软雅黑;
    font-style: italic;
    line-height: 140px;
}

.text_right > p:nth-child(5)
{
    font-size: 55px;
    color: #cc8091;
    font-family: 微软雅黑;
    float: left;
    clear: left;
    line-height: 55px;
}

.text_RR
{
    float: left;
}

.text_right > div > span:nth-child(1)
{
    float: left;
    font-size: 21px;
    color: #cc8091;
    font-family: 微软雅黑;
    line-height: 21px;
    margin-top: 17px;
}

.text_right > div > span:nth-child(2)
{
    float: left;
    clear: left;
    font-size: 12px;
    color: #cc8091;
    font-family: 微软雅黑;
}

.para1
{
    overflow: hidden;
    clear: both;
}

.para1 div
{
    margin-top: 20px;
}

.para1_1
{
    float: left;
    clear:left;
    width: 230px;
}

.para1_1 span
{
    font-size: 16px;
    color: #418c59;
    text-decoration: underline;
    font-weight: bold;
    font-family: 微软雅黑;
}

.para1_1 p
{
    font-size: 12px;
    font-family: 宋体;
    line-height: 16px;
    color: #767777;
    margin-top: 10px;
}

.para1_2
{
    float: left;
    margin-left: 10px;
    width: 230px;
}

.para1_2 span
{
    font-size: 16px;
    color: #d2994f;
    text-decoration: underline;
    font-weight: bold;
    font-family: 微软雅黑;
}

.para1_2 p
{
    font-size: 12px;
    font-family: 宋体;
    line-height: 16px;
    color: #231815;
    margin-top: 10px;
    opacity: 0.7;
}

.para1_3
{
    float: left;
    margin-left: 10px;
    width: 230px;
}

.para1_3 span
{
    float: left;
    clear: left;
}

.para1_3 > span:nth-child(1)
{
    font-size: 16px;
    color: #cc7680;
    text-decoration: underline;
    font-weight: bold;
    font-family: 微软雅黑;
}

.para1_3 > span:nth-child(2), .para1_3 > span:nth-child(3), .para1_3 > span:nth-child(4)
{
    font-size: 12px;
    font-family: 宋体;
    line-height: 18px;
    color: #767777;
    margin-top: 10px;
}

.para1_3 p
{
    float: left;
    clear: left;
    font-size: 12px;
    margin-top: 8px;
    line-height: 16px;
    font-family: 微软雅黑;
    color: black;
    opacity: 0.7;
}

.para1_3 em
{
    color: #cd4a48;
}

.para2
{
    overflow: hidden;
    clear: both;
    margin-top: 50px;
}

.para2_1
{
    width: 415px;
    float: left;
}

.para2_header > h1 > span
{
    font-size: 72px;
    color: #f5e327;
    font-family: 黑体;
    font-style: oblique;
    line-height: 1.5em;
}

.para2_header > h1
{
    font-size: 42px;
    color: #11456b;
    font-family: 黑体;
    line-height: 16px;
    font-weight: bold;
}

.para2_header > span
{
    font-size: 33px;
    color: #11456b;
    font-weight: bold;
    font-family: 黑体;
    line-height: 2em;
}

.para2_header
{
    border-bottom: 2px solid #11456b;
}

.para2_text
{
    float: left;
    clear: left;
    margin-top: 20px;
    font-size: 12px;
    font-family: 宋体;
    line-height: 20px;
    color: #767777;
}

.para2_text > p:nth-child(1) > span
{
    font-size: 70px;
    color: #f5e327;
    font-family: 微软雅黑;
    float: left;
    line-height: 70px;
    margin: 0 10px 10px 0;
}

.para2_text > p:nth-child(2), .para2_text > p:nth-child(3)
{
    text-indent: 2em;
}

.para2_text > p:nth-child(1) > img
{
    float: right;
    margin: 15px;
}

.para2_2
{
    width: 458px;
    float: right;
    margin-top: 40px;
}

.para2_2_top
{
    width: 458px;
    height: 275px;
    background:url("images/img_2.jpg");
    background-size: cover;
    position: relative;
}

.para2_2_top_color
{
    width: 458px;
    height: 61px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom: 0;
}

.para2_2_top > div > p
{
    font-size: 26px;
    color: #FFFFFF;
    font-family: 微软雅黑;
    height: 44px;
    border-left: 3px solid #72b16a;
    margin: 8px auto 9px 35px;
    padding-left: 10px;
}

.para2_2_top > div > p > span
{
    font-size: 12px;
    color: #72b16a;
    font-family: 微软雅黑;
    font-style: italic;
}

.para2_2_bottom
{
    overflow: hidden;
    width: 458px;
    /*height: 318px;*/
    background-color: #eeedd6;
    margin-top: 20px;
}

.triangle
{
    border: 6px solid;
    border-color:#eeedd6 #eeedd6 #11456b #eeedd6 ;
    float:left;
    margin-top:4px;
    margin-right: 4px;
}

.para2_2_bottom > ul
{
    padding-left: 20px;
}
.para2_2_bottom > ul > li
{
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    color: #5a5b5b;
    font-family: 宋体;
    text-align: left;
    margin-top: 15px;
}

.para2_2_bottom > ul > li > span
{
    font-size: 12px;
    text-align: right;
    line-height: 20px;
    font-style: italic;
}

.bottom_1
{
    width: 260px;
    height: 160px;
    background-color: #d45d5c;
    float: left;
    margin-top: 20px;
}

.bottom_1_txt
{
    margin: 37px auto auto 10px;
}

.bottom1_num
{
    float: left;
    font-size: 110px;
    color: #FFFFFF;
    font-family: 微软雅黑;
    line-height: 86px;
    border-right: 2px solid #FFFFFF;
}

.bottom1_alpha
{
    float: left;
    font-size: 21px;
    color: #FFFFFF;
    line-height: 24px;
    font-family: 黑体;
    font-style: italic;
    padding-left: 5px;
    margin-top: 7px;
}

.bottom_1_txt > p
{
    float: left;
    font-size: 12px;
    line-height: 12px;
    font-family: 黑体;
    color: #FFFFFF;
    padding-left: 8px;
}

.bottom_2
{
    font-size: 14px;
    color: #5a5b5b;
    font-style: oblique;
    line-height: 16px;
    font-family: 黑体;
    float: right;
    width: 180px;
    margin-top: 20px;
    padding-top: 20px;
}

.bottom_2 > span:nth-child(1)
{
    float: left;
    line-height: 14px;
    color: #d45d5c;
    font-size: 72px;
    font-family: 黑体;
    font-style: normal;
    margin: 25px auto -20px -40px;
}

.bottom_2 > span:nth-child(3)
{
    float: right;
    line-height: 14px;
    color: #d45d5c;
    font-size: 72px;
    font-family: 黑体;
    font-style: normal;
    margin: 15px -25px 0 0;
}

.footer
{
    width: 892px;
    height: 60px;
    border-top: solid 1px #938e8c;
    margin: 0 auto;
    font-family: sans-serif 黑体;
    text-align: right;
    font-size: 12px;
    color: #d45d5c;
}